/* .searchPadCnt {

} */

.keypad {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'area1 area2 area3'
                      'area4 area5 area6'
                      'area7 area8 area9'
                      'areaS area0 areaB'
}

#areaS {
  grid-area: areaS
}

#areaB {
  grid-area: areaB
}
