/* recycle type menu */

.gridWrapper {
  background: white;
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 2rem;
  height: 36rem;
  border-radius: 2rem;
  box-shadow: 0 0 10rem 1rem var(--darkGr);
  animation: slideUp2 1s;
}

.recMenuTitle {
  position: absolute;
  top: 3rem;
  z-index: 1;
  left: 2.5rem;
  right: 2.5rem;
  color: var(--darkGr);
}

#xBtn {
  position: absolute;
  color: var(--darkGr);
  top: .8rem;
  left: .8rem;
}

.recycleTypesCnt {
  background-color: white;
  margin-top: 3.5rem;
  position: absolute;
  padding: 2rem;
  left: 0;
  right: 0;
  height: 70%;
  display: grid;
  grid-template-columns: '1fr 1fr';
  grid-template-rows: '1fr 1fr 1fr 1fr';
  grid-template-areas:  'area1 area2'
                        'area3 area4'
                        'area5 area6'
                        'area7 areaQ';
  grid-gap: 1rem;

}

.recTypeBtn {
  position: relative;
  width: 25vw;
  height: 25vw;
  color: var(--darkGr);
  border: solid 1px black;
  border-radius: 1rem;
}

#numSpan, #codeSpan {
  position: absolute;
  font-size: 3vw;
}

#numSpan {
  top: 50%;
  left: 48%;
  transform: translateX(-48%);
  transform: translateY(-50%)
}

#codeSpan {
  left: 50%;
  bottom: .5rem;
  transform: translateX(-50%)
}

.recArrIconDiv {
  position: absolute;
  width: 22vw;
  height: 22vw;
  left: 50%;
  transform: translateX(-50%);

}

.bottomSpacer {
  height: 6rem;
}




/* recycle type show modal */

.showModalWrapper {
  background-color: var(--mediumGr);
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: -15rem;
  height: 130%;
  border-radius: 2rem;
  z-index: 2;
  animation: slideUp2 1s;
}

/* .recLogoHeader {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4.5rem;
  height: 4.5rem;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 1rem;
} */

.recLogoHeader {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  height: 30vw;
  color: white;
}

.recLogoHeader > span {
  font-size: .8rem;
}

#numHeaderSpan, #codeHeaderSpan {
  position: absolute;
  font-size: 4vw;
}

#numHeaderSpan {
  top: 50%;
  left: 48%;
  transform: translateX(-48%);
  transform: translateY(-50%)
}

#codeHeaderSpan {
  left: 50%;
  bottom: .5rem;
  transform: translateX(-50%)
}

.headerIconDiv {
  position: absolute;
  width: 28vw;
  height: 28vw;
  left: 50%;
  transform: translateX(-50%);

}

.infoAndBtnContainer {
  position: absolute;
  width: 100%;
  height: 45%;
  top: 10rem;

}

.infoBox {
  position: relative;
  background-color: var(--lightGr);
  padding: 1.5rem;
  height: 75%;
  border-radius: 2rem;
  color: var(--darkGr);
}

.infoBoxExtention {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--lightGr);
  padding: 1.5rem;
  width: 100%;
  height: 15rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: var(--darkGr);
}

.infoTable, .extenstionTable {
  position: absolute;

  left: 1rem;
  right: 1rem;
  text-align: left
}

.linkToMapBtn {
  position: absolute;
  bottom: -6rem;
  left: 0;
  background-image: url('../assets/Maps button.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 4rem;
  border-radius: .5rem;
}



/* keyframe animations */



@keyframes slideUp2 {
  0% {
    transform: translateY(800px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(800px);
  }
}

@keyframes extend {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -13rem;
  }
}

@keyframes retract {
  0% {
    bottom: -13rem;
  }
  100% {
    bottom: 0;
  }
}
