.container {
  width: 15vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iconContainer {
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loadingSpin 3s linear infinite;
}

@keyframes loadingSpin {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
