.mainContainer {
  width: 90%;
  height: 25rem;
  background-color: var(--lightGr);
  /* padding: 1.5rem; */
  border-radius: 2rem;
  color: var(--darkGr);
}

.container {
  position: relative;
  padding-top: 1rem;
  height: 100%;

}

.title {
  font-weight: 600;
  font-size: 1.1rem;
}

.subTitle {
  margin-top: 2rem;
  font-style: italic;
  font-weight: 200;
}

.mainTable {
  position: absolute;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  top: 10rem;


}

.extenstionContainer {
  position: absolute;
  background: var(--lightGr);
  text-align: left;
  padding-left: .5rem;
  padding-right: .5rem;
  height: 16rem;
  width: 100%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  z-index: 2;
}

.extentionTable {
  /* position: absolute; */

}


@keyframes extend {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -9rem;
  }
}

@keyframes retract {
  0% {
    bottom: -9rem;
  }
  100% {
    bottom: 0;
  }
}

@keyframes grow {
  0% { height: 25rem }
  100% { height: calc(25rem + 10rem) }
}

@keyframes shrink {
  0% { max-height: 35rem }
  100% { max-height: 25rem }
}
