.homeCnt {
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

#mapBtn, #materialsBtn {
  width: 40vw;
  height: 40vw;

  border-radius: 1rem;
}

#mapBtn {
  background-image: url('./assets/Interaction Menu.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

#materialsBtn {
  background-image: url('./assets/PlasticTypeButton.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

#scanBtnLink {
  position: relative;
  background-image: url('./assets/Searchbox copy.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  height: 4rem;
}

#searchIcon {
  margin-left: 1.5rem;
}

#bcodeIcon {
  margin-right: 1.5rem;
}
