/* ./src/index.css */

/* -------- custom color css variables ------- */

:root {
  --colorOne: #2d3142;
  --colorTwo: #065F46;
  --colorThree: #F87171;
  --colorFour: #34D399;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
